body {
  width: 400px;
  /* height: auto; */
  background-color: aliceblue;

  /* overflow: hidden;   */
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.4rem;
  text-align: center;
  background-color: azure;
}

.App {
  /* display: flex;
  justify-content: center; */
}

.root {
  /* display: flex; */
  /* justify-content: center; */
}
.container-main {
  border: 1px solid rgb(6, 97, 157);
  box-shadow: 1px 3px 3px 2px rgb(42, 42, 76);

  display: flex;
  flex-wrap: wrap;
}
.container-child {
  background-color: azure;
  max-width: 500px;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1px;
  box-shadow: 1px 8px 1px 5px;
}
.items {
  border: none;
  /* border-bottom: 2px solid rgb(18, 56, 5); */
  margin-bottom: 2px;
}
