body {
  width: 300px;
  /* height: auto; */
  background-color: aliceblue;

  overflow: hidden;
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}
.container {
  border: 2px solid royalblue;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#pTag {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 30px;
}
#img {
  padding: 3px;
  width: 280px;
  border-radius: 1rem;
}
