body {
  /* width: 400px;
  background-color: aliceblue;

  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.4rem;
  text-align: center;
  background-color: azure; */

  background-color: #f0f8ff;
  border-radius: 1rem;
  margin: 0.4rem;
  padding: 0.4rem;
  width: 400px;
  overflow: auto;
}

.container-main {
  border: 1px solid rgb(6, 97, 157);
  box-shadow: 1px 3px 3px 2px rgb(42, 42, 76);

  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
  overflow: auto;
}
.container-child {
  background-color: azure;
  max-width: 500px;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1px;
  color: #1c00a6;
  box-shadow: 1px 8px 1px 5px;
}
.items {
  border: none;
  margin-bottom: 2px;
}
